<div class="card">
	<div class="card-header">
		<h2>Test overview<h2>
	</div>
    {{#if result}}
        <div class="card-body">
            <div class="row">
                <ul class="list-group w-100">
                    {{#each result.tests~}}
                        {{#each err~}}
                            <li class="list-group-item list-group-item-danger">
                                <h4>{{../fullTitle}}</h4>
                                <div>{{{message}}}</div>
                            </li>
                        {{~else~}}
                            <li class="list-group-item list-group-item-success">
                                <h4>{{fullTitle}}</h4>
                            </li>
                        {{/each}}
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}
</div>