<div class="card-header">
	Test overview
</div>
<div class="card-body">
	<div class="row">
		<ul class="list-group">
			{{#each tests}}
			{{#if err}}
			<li class="list-group-item list-group-item-danger">
			{{else}}
			<li class="list-group-item list-group-item-success">
			{{/if}}
		  	{{fullTitle}}</li>
		  	{{/each}}
		</ul>
	</div>
</div>